/* apply extra style here */
.Dashboard {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("../bgimage/background.png");
  align-items: center;
  justify-content: center;
}
