/* apply extra style here */
.Dashboard {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("../bgimage/background.png");
  align-items: center;
  justify-content: center;
}

.dashboard-container {
  background-size: cover;
  background-image: url("../bgimage/background.png");
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.gigapet-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
