/* apply gigapet style here */
.gigapet-card-image-top {
  width: 18rem;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.7);
}

.gigapet-primary {
  background-color: #6c46a2;
  color: #fafafa;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #6c46a2 !important;
}
