.test-gigapet-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.btn-primary,
.btn-primary:visited {
  background-color: #6c46a2 !important;
  color: #fafafa !important;
}
.btn-primary:hover {
  /* border: 1px solid #fafafa !important; */
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.7);
}
.btn-primary:active {
  box-shadow: none;
}

.add-gigapet-div {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
  background-image: url("../bgimage/background.png");
}
.add-gigapet-btn {
  border-radius: 0.4rem !important;
}

.new-pet-span {
  display: flex;
  flex-direction: column;
}

.bg-001 {
  background-image: url("../bgimage/background.png");
  background-size: cover;
}
