/* apply extra style here */
@import url("https://fonts.googleapis.com/css?family=Rancho&display=swap");

.Register {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: url("../bgimage/background.png");
  align-items: center;
  justify-content: center;
}
.register-form {
  background-color: #6c46a2;
  padding: 50px;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Rancho", cursive;
}
.register-label {
  display: flex;
  color: #fafafa;
}
.register-h2 {
  display: flex;
  justify-content: center;
  color: #fafafa;
  font-family: "Rancho", cursive;
}
