@import url("https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rancho&display=swap");
* {
  font-family: "Hind Madurai", sans-serif;
}

.nav-title {
  font-family: "Rancho", cursive;
  background-color: #6c46a2;
  color: #fafafa;
}
